name: 'controladoria.prod'

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: prod
      aws-region: 'sa-east-1'
      aws-assume-role-arn: 'arn:aws:iam::333428666305:role/controladoria-terraform-pipeline-role'
      aws-statefile-s3-bucket: 'controladoria-sa-east-1-terraform-statefile'
      aws-lock-dynamodb-table: 'controladoria-sa-east-1-terraform-lock'
      key_name: 'controladoria-prod-key'
      domain_name: 'api.controladoria.net.br'

    secrets:
      KEYCLOAK_ADMIN_PASSWORD: ${{ secrets.KEYCLOAK_ADMIN_PASSWORD }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      KEYCLOAK_ADMIN_USER: ${{ secrets.KEYCLOAK_ADMIN_USER }}
      DB_USER: ${{ secrets.DB_USER }}
      CERTBOT_EMAIL: ${{ secrets.CERTBOT_EMAIL }}
      MY_IP: ${{ secrets.MY_IP }}
